{% extends "../home.html.twig" %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="waves-effect waves-light btn" value="Submit">
        {{ form_end(form) }}
    </div>
{% endblock %}