<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Phoit - The ultimate website to share your photos and more!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="favourite icon" href="/images/favicon.PNG" type="image/x-icon"/>
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% endblock %}
    </head>

    <body>
    <div class="navbar-fixed ">
        <nav class="cyan darken-4">

            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Phoit</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% for nav in navs %}
                        {% if " " in nav %}
                            {% set temp =  nav | replace({' ':''}) %}
                        {% else %}
                            {% set temp = nav %}
                        {% endif %}
                        <li><a href="/{{ temp | lower }}">{{ nav }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav fixed" id="mobile-demo">
        <a href="/" class="brand-logo">Phoit</a>
        {% for nav in navs %}
            {% if " " in nav %}
                {% set temp =  nav | replace({' ':''}) %}
            {% else %}
                {% set temp = nav %}
            {% endif %}
            <li><a href="{{ temp | lower }}">{{ nav }}</a></li>
        {% endfor %}
    </ul>


    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
            <script>
                //initialize select options in forms
                $(document).ready(function () {
                    $('select').formSelect();
                });
                //initialize sidenav
                $(document).ready(function () {
                    $('.sidenav').sidenav();
                });
            </script>
        {% endblock %}
    </body>
</html>
