{% extends "base.html.twig" %}

{% block body %}
    <header>
        <div class="nav">
            <ul>
                {% for nav in navs %}
                    <li><a href="{{ nav | lower }}">{{ nav }}</a></li>
                {% endfor  %}
            </ul>
        </div>
    </header>

    <article>
        {% for img in imgs %}
            <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{ img.getPhotoName }}">
        {% endfor %}
    </article>
{% endblock %}