{% extends "base.html.twig" %}

{% block body %}
    <article>
        {% for img in imgs %}
            <div class="card-image">
                <h1>{{ img.getPhotoName }}</h1>
                <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{ img.getUpdateTime | date('Y-m-d') }}"
                     style="width: 100%">
                <ul>
                    {% for comment in img.getComments %}
                        <li>{{ comment }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </article>
{% endblock %}