{% extends "home.html.twig" %}

{% block  body %}
    <h1 class="z-depth-5">Welcome to the store!</h1>
    {#{% for item in cart %}#}
    {#<img src="{{ item }}">{{ item }}#}
    {#{% endfor %}#}
{% endblock %}