{% extends "home.html.twig" %}

{% block body %}
    <div>
        <h1>Welcome! {{ username }}</h1>
    </div>
    <div>
        <a href="{{ path('new_photo') }}">
            Upload Photo
        </a>
    </div>
    <h2>
        My Photos
    </h2>
    <div class="card">
        {{ parent() }}
    </div>
{% endblock %}